/********************************
GENERAL
********************************/

#logo {
    color: white;
    font-weight: 750;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

#wallpaper {
    width: 100%;
}

#logo span {
    color: #00B895;
    font-size: 0.8em;
}

#about {
    margin-top: -5px;
    padding: 5% 3%;
}

#about h2 {
  font-size: 1.3em;
}

#about p {
  font-size: 0.96em;
}

#pictures {
    width: 95%;
    margin: 0 auto;
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 46%;
    margin: 2%;
}

#gallery li p {
    text-align: center;
    font-size: .9em;
    margin: 0;
    padding: 5px;
}

#gallery-title {
    font-size: 1.3em;
    margin: 15px 0;
    color: #323A45;
}


/********************************
HEADING
********************************/

header {
    float: left;
    width: 100%;
    background-color: #323A45;
    margin: 0;
    padding: 0;
}

/********************************
NAVIGATION
********************************/

nav {
    text-align: center;
    background: #525f71;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    padding: 10px;
    margin: 0 3px;
    font-weight: bold;
}

/********************************
COLORS
********************************/

nav a {
    color: #D5F3EE;
}

nav li:hover {
    background-color: #00B895;
}

#about {
    background-color: #45B39E;
    color: #FFF;
}

#gallery li {
    background-color: #45B39E;
    color: #FFF;
}

/********************************
FOOTER
********************************/

footer {
    clear: both;
    background-color: #323A45;
    font-size: .75em;
    text-align: center;
    padding: 1px 5px;
    color: #FFF;
}

/********************************
Media Queries
********************************/

@media (min-width: 660px) {
  
  header {
    border-bottom: 5px solid #00B895;
  }
  
  #logo {
    float: left;
    margin-left: 40px;
  }
  
  nav {
    float: right;
    background: none;
    padding: 0;
    margin-right: 40px;
  }
  
  nav li {
    margin: 0;
    padding: 31px 15px;
  }
}

@media (min-width: 768px) {
  nav li {
    text-transform: uppercase;
    font-weight: normal;
  }
  
  #gallery li {
    width: 28.33%;
    margin: 2.4%;
  }
  
  #gallery li p {
    font-size: 1em;
    padding: 10px;
}

@media (min-width: 1024px) {
  
  #logo {
    margin-left: 60px;
  }
  
  nav li {
    padding-right: 30px;
    padding-left: 30px;
  }
  
  #about {
    padding: 50px 80px;
    border-bottom: 5px solid #323A45;
  }
  
  #about h2 {
    font-size: 2.5em;
  }
  
  #about p {
    font-size: 1em;
  }
  
  #gallery-title {
    font-size: 2.5em;
    margin: 30px 0 0px;
  }
  
  #gallery li {
    width: 28.3%;
    border: 1px solid #ccc;
  }
  
  #gallery li p {
    font-size: 1.2em;
    padding: 15px;
  }
  
  footer {
    font-size: 1em;
    padding: 10px;
  }
}